<!DOCTYPE html>
<html lang="en">
<head>
    <title>HBNB</title>
</head>
<body>
    <h1>States</h1>
    <ul>
        {% for state_id, state_data in cities_data.items() %}
            <li>{{ state_id }}: <b>{{ state_data.state }}</b>
                <ul>
                    {% for city in state_data.cities %}
                        <li>{{ city.id }}: <b>{{ city.name }}</b></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
